*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8);
}
.header{
    margin: 120px auto;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}
.navbar-main {
    margin-bottom: 10px;
    margin: -15px -15px 10px -15px;
    padding: 10px;
}
.my-contacts {
    padding: 0;
}
.contact-details-item{
    margin: 0 25%;
}
.my-contacts li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
    overflow: hidden;
}
.my-contacts li span{
    position: absolute;
    right: -45px;
    color: #fff;
    width: 40px;
    text-align: center;
    background: rgba(255, 38, 0, 0.952);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.my-contacts li:hover .span-trash {
    right:0;
}
.my-contacts li:hover .span-phone {
    right:50px;
}
.form-control{
    /* margin: 0 20px; */
    text-align: center;
}
.fa-plus{
    height: 100%;
    background: #212529;
    padding: 7px 16px;
    color: white;
    margin: 0px 12px;
    font-size: 21px;
    cursor: pointer;
}
.footer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.footer-btn{
    margin:0 10px;
    padding:5px 116px;
}